<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7yC-6iKsMLjlsRHG6HI0_qNCUCkMVhLs</string>
	<key>GCM_SENDER_ID</key>
	<string>1047240251784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.thecodexhub.sudoku</string>
	<key>PROJECT_ID</key>
	<string>sudoku-gemini</string>
	<key>STORAGE_BUCKET</key>
	<string>sudoku-gemini.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047240251784:ios:9ec726836eedb77b83c23d</string>
</dict>
</plist>